h2{
	color:white;
	background-color:blue;
}
img{
	width:200px;
	height:150px;
	margin-top:50px;
	margin-right:50px;
	border-radius:15px;
	border-block-end: white;
	
}
.contanier1{
	background-color:blue;
	margin:0 auto;
	border:solid blue;
}
button{
	background-color:green;
	border-radius:5px;
	width:120px;
	height:40px;
	margin-top:50px;
	color:white;
}
h3{
	background-color:blue;
	color:white;
}
	
	